body{
    background: #6592cf;
  }
  .container {
    width: 300px;
    height: 150px;
    background: #243d83;
    margin: 75px auto;
  }
  .ring{
    height: 150px;
    width: 150px;
    border: 50px solid #6592cf;
    border-radius: 50%;
    position: absolute;
    right: 75px;
    top: 25px;
  }
  .circle{
    width: 50px;
    height: 50px;
    background: #eeb850;
    margin: 50px auto;
    border-radius: 50%;
  }